

.container .row .main-section .navbar .container-fluid .navbar-brand {
    color: rgb(22, 22, 22);
    font-weight: bold;
    font-size: 19px;
}

.container .row .main-section .navbar .container-fluid ul li .btn-log {
    font-weight: 500; 
    color: rgb(255, 255, 255); 
    background-color: #f74747; 
    border-radius: 14px;
}

.container .row .main-section .navbar .container-fluid ul li .btn-log:hover {
    opacity: .7;
}


.side-bars::-webkit-scrollbar {
    width: .5em;
  }
   
.side-bars::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
.side-bars::-webkit-scrollbar-thumb {
    background-color: rgb(226, 155, 0);
    border-radius: 10px;
  }

.offcanvas .offcanvas-title {
    color: white;
}

.offcanvas .offcanvas-header .btn-close {
    color: white;
}

.container .row .side-bars {
    height: 93vh; 
    overflow:auto; 
    border-radius: 20px; 
    background-color: #0f8146;
    border-top: 8px solid white;
}

.container .row .side-bars .card {
    background-color: transparent;
}

.container .row .side-bars img {
    min-width: 95px;
    max-width: 95px;
    min-height: 95px;
    max-height: 95px;
    object-fit: cover;
}

.container .row .side-bars .headtext{
   font-size: 15px;
}

.container .row .side-bars .card .side-txt{
    font-size: 15px; 
    text-decoration: none; 
    color: white;
}

.container .row .side-bars .card .side-txt.active{
    font-size: 15px; 
    text-decoration: none; 
    color: rgb(245, 185, 96);
    border-left: 2px solid orange;
}


.container .row .main-section .btn-side {
    display: none;
    background-color: #0f8146;
    color: white;
}

.container .row .main-section .btn-side:hover {
    opacity: .7;
}

.container .row .main-section .side-mob {
    display: none;
}

.container .row .main-section .main-mess .mail-text {
    margin-top: -7px; 
    font-size: 14px;
}

.container .row .main-section .main-mess .time-text {
    font-size: 13px; 
    color: grey;
    margin-top: -13px;
}

.container .row .main-section .main-mess .fill-text {
    background-color: antiquewhite; 
    font-size: 15px; 
    border-radius: 10px;
}

.container .row .main-section .main-mess .btn-send {
    background-color: #4bca88; 
    color: white;
    transition: all .5s ease;
    border-radius: 20px;
}

.container .row .main-section .main-mess .btn-send:hover {
    opacity: .8;
}




@media (max-width:990px) {

    .container .row .side-bars {
        display: none;
    }
        
    .container .row .main-section .btn-side {
        display: block;
        width: 8%;
        background-color: #0f8146;
        color: white;
    }

    .container .row .main-section .side-mob {
        display: block;
        background-color: #0f8146;
        width: 55%;
        overflow: scroll;
        border-radius: 0px 10px 10px 0;
    }
    
    .container .row .main-section .side-mob .offcanvas-body img {
        min-width: 185px;
        max-width: 185px;
        min-height: 185px;
        max-height: 185px;
        object-fit: cover;
    }

    .container .row .main-section .side-mob .offcanvas-body .headtext{
        font-size: 23px;
    }

    .container .row .main-section .side-mob .offcanvas-body .card .side-txt {
        font-size: 22px; 
        text-decoration: none; 
        color: white;
    }

    .container .row .main-section .side-mob .offcanvas-body .card .side-txt.active {
        font-size: 22px; 
        text-decoration: none; 
        color: rgb(245, 185, 96);
        border-left: 2px solid orange;
    }
    
    .container .row .main-contents .col .card {
        border-radius: 14px;
    }

    .container .row .main-contents .col .card .header-txt{
        color: rgb(46, 46, 46);
        font-size: 16px;
    }
}




@media (max-width:768px) {

    .container .row .side-bars {
        display: none;
    }
        
    .container .row .main-section .btn-side {
        display: block;
        width: 8%;
    }


    .container .row .main-section .side-mob {
        display: block;
        background-color: #0f8146;
        width: 55%;
        overflow: scroll;
        border-radius: 0px 10px 10px 0;
    }
    
    .container .row .main-section .side-mob .offcanvas-body img {
        min-width: 185px;
        max-width: 185px;
        min-height: 185px;
        max-height: 185px;
        object-fit: cover;
    }

    .container .row .main-section .side-mob .offcanvas-body .headtext{
        font-size: 23px;
    }

    .container .row .main-section .side-mob .offcanvas-body .card .side-txt {
        font-size: 22px; 
        text-decoration: none; 
        color: white;
    }

    .container .row .main-section .side-mob .offcanvas-body .card .side-txt.active {
        font-size: 22px; 
        text-decoration: none; 
        color: rgb(245, 185, 96);
        border-left: 2px solid orange;
    }
    
}


@media (max-width:450px) {

    .container .row .side-bars {
        display: none;
    }
        
    .container .row .main-section .btn-side {
        display: block;
        width: 15%;
    }

    .container .row .main-section .side-mob {
        display: block;
        background-color: #0f8146;
        width: 75%;
        overflow: scroll;
        border-radius: 0px 10px 10px 0;
    }
        
    .container .row .main-section .side-mob .offcanvas-body img {
        min-width: 135px;
        max-width: 135px;
        min-height: 135px;
        max-height: 135px;
        object-fit: cover;
    }

    .container .row .main-section .side-mob .offcanvas-body .headtext{
        font-size: 21px;
    }

    .container .row .main-section .side-mob .offcanvas-body .card .side-txt {
        font-size: 18px; 
        text-decoration: none; 
        color: white;
    }

    .container .row .main-section .side-mob .offcanvas-body .card .side-txt.active {
        font-size: 18px; 
        text-decoration: none; 
        color: rgb(245, 185, 96);
        border-left: 2px solid orange;
    }

    
}

